---
import Grid from '@components/Elements/Grid1.astro';

// Constantes pour le contenu
const title = "Des Questions ?";
const description = "On prépare tout sur place :";
---

<Grid
  tag="section"
  gap="gap-16 md:gap-8" 
  backgroundColor="bg-secondary"
  textAlign="center"
  overflowHidden={false}
>
<h2 class="text-h2">{title}</h2>

<Grid 
tag="section"
autoFit 
gap="gap-2 md:gap-4"
xPadding="px-0"
yPadding="py-0"
overflowHidden={false}
>
  <Grid
  tag="span"
  xAlign="center"
  gap="0"
  class="w-full"
  xPadding="px-0"
  yPadding="py-0"
>
  <details class="group border-b border-2 rounded-lg px-4 bg-black text-white mb-4 w-full">
    <summary class="cursor-pointer py-4 text-xl font-semibold text-gray-800 transition-colors duration-300 group-hover:text-primary-500 flex justify-between items-center">
      <span class="text-body text-white">1. Quelle est la politique de retour ?</span>
      <span class="text-white rounded-full flex items-center justify-center transition-transform duration-300 group-open:rotate-180">⬇️</span>
    </summary>
    <p class="pb-4 bg-transparent text-body transition-opacity duration-500 ease-in-out w-full">
      Les retours sont acceptés sous 30 jours pour les articles non utilisés et non endommagés.
    </p>
  </details>

  <details class="group border-b border-2 rounded-lg px-4 bg-black text-white mb-4 w-full">
    <summary class="cursor-pointer py-4 text-xl font-semibold text-gray-800 transition-colors duration-300 group-hover:text-primary-500 flex justify-between items-center">
      <span class="text-body text-white">1. Quelle est la politique de retour ?</span>
      <span class="text-white rounded-full flex items-center justify-center transition-transform duration-300 group-open:rotate-180">⬇️</span>
    </summary>
    <p class="pb-4 bg-transparent text-body transition-opacity duration-500 ease-in-out w-full">
      Les retours sont acceptés sous 30 jours pour les articles non utilisés et non endommagés.
    </p>
  </details>

  <details class="group border-b border-2 rounded-lg px-4 bg-black text-white mb-4 w-full">
    <summary class="cursor-pointer py-4 text-xl font-semibold text-gray-800 transition-colors duration-300 group-hover:text-primary-500 flex justify-between items-center">
      <span class="text-body text-white">1. Quelle est la politique de retour ?</span>
      <span class="text-white rounded-full flex items-center justify-center transition-transform duration-300 group-open:rotate-180">⬇️</span>
    </summary>
    <p class="pb-4 bg-transparent text-body transition-opacity duration-500 ease-in-out w-full">
      Les retours sont acceptés sous 30 jours pour les articles non utilisés et non endommagés.
    </p>
  </details>
</Grid>
<Grid
tag="span"
xAlign="center"
gap="0"
class="w-full"
xPadding="px-0"
yPadding="py-0"
>
<details class="group border-b border-2 rounded-lg px-4 bg-black text-white mb-4 w-full">
    <summary class="cursor-pointer py-4 text-xl font-semibold text-gray-800 transition-colors duration-300 group-hover:text-primary-500 flex justify-between items-center">
      <span class="text-body text-white">1. Quelle est la politique de retour ?</span>
      <span class="text-white rounded-full flex items-center justify-center transition-transform duration-300 group-open:rotate-180">⬇️</span>
    </summary>
    <p class="pb-4 bg-transparent text-body transition-opacity duration-500 ease-in-out w-full">
      Les retours sont acceptés sous 30 jours pour les articles non utilisés et non endommagés.
    </p>
  </details>

  <details class="group border-b border-2 rounded-lg px-4 bg-black text-white mb-4 w-full">
    <summary class="cursor-pointer py-4 text-xl font-semibold text-gray-800 transition-colors duration-300 group-hover:text-primary-500 flex justify-between items-center">
      <span class="text-body text-white">1. Quelle est la politique de retour ?</span>
      <span class="text-white rounded-full flex items-center justify-center transition-transform duration-300 group-open:rotate-180">⬇️</span>
    </summary>
    <p class="pb-4 bg-transparent text-body transition-opacity duration-500 ease-in-out w-full">
      Les retours sont acceptés sous 30 jours pour les articles non utilisés et non endommagés.
    </p>
  </details>

  <details class="group border-b border-2 rounded-lg px-4 bg-black text-white mb-4 w-full">
    <summary class="cursor-pointer py-4 text-xl font-semibold text-gray-800 transition-colors duration-300 group-hover:text-primary-500 flex justify-between items-center">
      <span class="text-body text-white">1. Quelle est la politique de retour ?</span>
      <span class="text-white rounded-full flex items-center justify-center transition-transform duration-300 group-open:rotate-180">⬇️</span>
    </summary>
    <p class="pb-4 bg-transparent text-body transition-opacity duration-500 ease-in-out w-full">
      Les retours sont acceptés sous 30 jours pour les articles non utilisés et non endommagés.
    </p>
  </details>
</Grid>
</Grid>


